<!DOCTYPE html>
<html>
  <head>
    <title>IslandBNB</title>
    <link href="/app/assets/images/favicon.ico" rel="icon" type="image/x-icon" />
    <!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDm28rjSx1RRhGYDCooMtsYJeSkO3hN6_Q"></script> -->
    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyDm28rjSx1RRhGYDCooMtsYJeSkO3hN6_Q&libraries=places" %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= csrf_meta_tags %>
    <%= javascript_include_tag 'application' %>


  </head>

  <body>
    <%= yield %>
  </body>
</html>
